<p-confirmDialog></p-confirmDialog>
<div class="table">
  <div class="header">
    <div class="col">
      <div class="search">
        <p-inputGroup>
          <span class="p-input-icon-left inputSearch">
            <i class="pi pi-search"></i>
            <input
              (keyup.enter)="searchItems()"
              [(ngModel)]="searchValue"
              class="inputSearch"
              [ngStyle]="{
                'border-bottom-right-radius': 0,
                'border-top-right-radius': 0
              }"
              pInputText
              type="text"
            />
          </span>
          <button
            type="button"
            pButton
            icon="pi pi-search"
            class="p-button-info"
            (click)="searchItems()"
          ></button>
        </p-inputGroup>
      </div>
      <div class="add">
        <p-button
          severity="success"
          size="small"
          (onClick)="addItem()"
          label="Dodaj"
          icon="pi pi-plus"
        ></p-button>
      </div>
    </div>
  </div>
  <p-table
    [(first)]="first"
    selectionMode="single"
    [(selection)]="selectedItem"
    (onRowSelect)="onRowSelect($event)"
    [value]="items"
    [lazy]="true"
    (onLazyLoad)="tableLoad($event)"
    dataKey="id"
    [tableStyle]="{ 'min-width': '75rem', 'min-height': '22rem' }"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Numer zasobu</th>
        <th>Nazwa</th>
        <th>Słowa kluczowe</th>
        <th>Kategoria</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item" [style]="{ 'max-height': '5dvh' }">
        <td>{{ item.assetId.id }}</td>
        <td>{{ item.name }}</td>
        <td>
          {{ item.keywords }}
        </td>
        <td>{{ item.categories }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td style="text-align: center" colspan="4">Nie znaleziono</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        <span> Łączna ilość: {{ totalRecords }} </span>
      </div>
    </ng-template>
  </p-table>
</div>
