<div class="dialogBody">
  <div class="row saveButton">
    <p>
      <p-button
        label="Zapisz"
        size="small"
        severity="success"
        (onClick)="saveItem()"
      >
      </p-button>
    </p>
  </div>
  <div class="row">
    <div class="col2">
      <p>Nazwa</p> <span style="color:red" *ngIf="warn&&newItem.name.length<1" > Pole nie może być puste! </span>
      <input pInputText [(ngModel)]="newItem.name" type="text" />

      <p>Słowa kluczowe</p>
      <p-chips [(ngModel)]="newItem.keywords" separator=","></p-chips>
      <p>Kategorie</p>
      <p-chips [(ngModel)]="newItem.categories" separator=","> </p-chips>
      <p>Opis</p>
      <textarea
        pInputTextarea
        [autoResize]="true"
        [(ngModel)]="newItem.description"
        rows="5"
        cols="25"
      ></textarea>
    </div>
  </div>
</div>
