.dialogBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .saveButton{
    justify-content: flex-end
  }

  .col2 {
    width:43%;
  }
}

